body {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
    background-color: #fafafa;
}
.form-input {
    width: 400px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000;
}
.form-login {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
}
input[type='text'][type='password']{
    background: transparent;
    padding: 10px;
    font-size: 20px;
}
.form-field{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

h2 {
    text-align: center;
}

button {
    width:100%;
    padding: 10px 40px 10px;
    border-radius: 20px;
    border: 16px none #000000;
    background-color: #1290de;
    text-align: center;
    color: white;
    margin: 20px;
    box-shadow: 2px 3px 43px 29px rgba(0,0,0,0.19);
}
</style>
